/* HERO HAMBURGUER BUTTON */
.hero__hamburguer {
  /* hacer cuadrado azul */
  width: 44px;
  height: 44px;
  background-color: $color-hamburguer-icon;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */

  /* hacer las tres rayitas de la hamburguesa, con grosor, blancas y centradas */
  &--span {
    width: 16px;
    height: 5px;
    text-decoration: line;
    text-align: center;
    display: block;
    border-top: 4px white solid;
    border-top-width: 2px;
  } 
}
/* HERO SCROLL BUTTON */
.hero__scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  /* este display es para que el icono se ponga el icono centrado  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* separar circulo del texto */
  margin-top: 50px;
  &--icon {
  }
}
/* TIPS GO BUTTON*/
.page__tips--go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  border: 2px solid $color-buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  /* desplazar boton hacia abajo */
  margin-top: 70px;
  /* hacer cambio de color en boton y texto */
  transition: background-color ease 1s, color ease 1s;
  &:hover {
    background-color: $color-buttons;
    color: white;
  }
}
/* MORE REASONS BUTTON */
.page__reasons--more-reasons {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-buttons;
  border: 2px solid $color-buttons;
  /* hacer la caja mas grande, se quedaba pequeña  */
  padding: 10px;
/* hacer cambio de color en boton y texto */
  transition: background-color ease 1s, color ease 1s;
  &:hover {
    background-color: white;
    color: $color-buttons;
  }
}
/* FOOTER ARROW BUTTON */
.page__footer--arrow-up {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* para que se coloque en esa posicion */
  margin-top: -55px;
  /* hacer animación */
  animation-name: intro;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}
@keyframes intro {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@media all and (min-width: 1200px){
  .page__reasons--more-reasons {
    width: 215px;
}
}
