<footer class="page__footer">
  <!-- ancla que coge todo el div del arrow para que redireccione a la seccion hero -->
  <!-- lo ponemos solo para que no se mueva con el flex -->
  
    <div class="page__footer--arrow">
      <a class="anchor" href="#hero">
        <img class="page__footer--arrow-up" src="./assets/images/ico-arrow.svg" title="Arrow image"/>
      </a>
    </div>
  
  <!-- creo una seccion para poder ponerle flex y mover los tres elementos( menu, social y copy) -->
<section class="page__footer--flex">
  <nav>
    <ul class="page__footer--menu">
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Articles</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Books</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Events</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Reasons</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="page__footer--social">
      <li><a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Twitter</a></li>
      <li><a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Instagram</a></li>
      <li>
        <a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="page__footer--copy">
    <!-- con el &copy se genera automaticamente el simbolo del copyright-->
    <small>&copy; 2021</small>
    <small>we <span class="page__footer--copy-heart">❤︎</span> components</small>
  </div>
</section>
</footer>
