<footer class="page__footer">
  <div class="page__footer--arrow-up"></div>
  <nav>
    <ul class="page__footer--menu">
      <li><a href="https://adalab.es" title="Go to Adalab">Articles</a></li>
      <li><a href="https://adalab.es" title="Go to Adalab">Books</a></li>
      <li><a href="https://adalab.es" title="Go to Adalab">Events</a></li>
      <li><a href="https://adalab.es" title="Go to Adalab">Reasons</a></li>
      <li><a href="https://adalab.es" title="Go to Adalab">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="page__footer--social">
      <li><a href="https://adalab.es" title="Go to Adalab">Twitter</a></li>
      <li><a href="https://adalab.es" title="Go to Adalab">Instagram</a></li>
      <li>
        <a href="https://adalab.es" title="Go to Adalab">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="page__footer--copy">
    <small>&copy; 2021</small>
    <small>we <span>❤︎</span> components</small>
  </div>
</footer>

<!-- <footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer> -->
