<footer class="page__footer">
  <a href="#hero">
    <div class="page__footer--arrow">
      <img class="page__footer--arrow-up" src="./assets/images/ico-arrow.svg" title="Arrow image"/>
    </div>
  </a>
<section class="page__footer--flex">
  <nav>
    <ul class="page__footer--menu">
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Articles</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Books</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Events</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Reasons</a></li>
      <li><a class="page__footer--menu-item" href="https://adalab.es" title="Go to Adalab">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="page__footer--social">
      <li><a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Twitter</a></li>
      <li><a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Instagram</a></li>
      <li>
        <a class="page__footer--social-item" href="https://adalab.es" title="Go to Adalab">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="page__footer--copy">
    <small>&copy; 2021</small>
    <small>we <span class="page__footer--copy-heart">❤︎</span> components</small>
  </div>
</section>
</footer>
