<hero class="page__hero">
  <img
    class="page__hero--image"
    src="./assets/images/cover.jpg"
    alt="New York"
    title="Scene of New York"
  />
  <h1 class="page__hero--title">Anonymous proxy</h1>
  <p class="page__hero--subtitle">In hac habitasse platea dictumst.</p>
  <a href="https://adalab.es" title="Go to Adalab">
  <div class="hero__hamburguer">
  <span class="hero__hamburguer--span"> </span>
  <span class="hero__hamburguer--span"> </span>
  <span class="hero__hamburguer--span"> </span>
</div>
</a>
  <div class="hero__scroll-down">
    <img class="hero__scroll-down--icon" src="./assets/images/ico-scroll-down.svg" title="Scroll image"></img> 
  </div>
</hero>
