<section class="page__reasons">
  <h2 class="page__reasons--title">3 Reasons To Purchase</h2>

  <div class="page__reason">
    <h3 class="page__reason--title">Ut sed metus</h3>
    <p class="page__reason--content">Lorem ipsum dolor sit amet, consecteur.</p>
  </div>

  <div class="page__reason">
    <h3 class="page__reason--title">Curabitur ac erat</h3>
    <p class="page__reason--content">Mauris mattis urna quis lorem molestie.</p>
  </div>

  <div class="page__reason">
    <h3 class="page__reason--title">Morbi dictum</h3>
    <p class="page__reason--content">Aliquam in dolor et dolor tincidunt.</p>
  </div>

  <span class="page__reasons--more-reasons">More reasons</span>
</section>
