<!-- en esta seccion está la id="reasons" que nos sergviar para redireccionar dentro de la misma pagina  -->
<section id="reasons" class="page__reasons">
    <h2 class="page__reasons--title">3 Reasons To Purchase</h2>

  <!-- creo otra seccion para mover en grid los 3 items  -->
  <section class="reason__grid">
    
    <div class="reason__item">
      <h3 class="reason__item--title  tres">Ut sed metus</h3>
      <p class="reason__item--content">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="reason__item">
      <h3 class="reason__item--title">Curabitur ac erat</h3>
      <p class="reason__item--content">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>

    <div class="reason__item">
      <h3 class="reason__item--title">Morbi dictum</h3>
      <p class="reason__item--content">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </section>

  <span class="page__reasons--more-reasons">More reasons</span>
</section>
