<section class="page__reasons">
  <h2 class="page__reasons--title">3 Reasons To Purchase</h2>
  
  <section class="reason">
    <div class="reason__ut">
      <h3 class="reason__ut--title">Ut sed metus</h3>
      <p class="reason__ut--content">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="reason__curabitur">
      <h3 class="reason__curabitur--title">Curabitur ac erat</h3>
      <p class="reason__curabitur--content">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>

    <div class="reason__morbi">
      <h3 class="reason__morbi--title">Morbi dictum</h3>
      <p class="reason__morbi--content">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </section>

  <span class="page__reasons--more-reasons">More reasons</span>
</section>
