// fonts
$font-main: 'Roboto Slab', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-heart: ZapfDingbatsITC;

// colors
$color-bg-tips:#ffffff;
$color-bg-reasons: #eff9ff;
$color-bg-footer:#304268;
$color-hamburguer-icon: #0271bc;
$color-buttons: #f26002;
$color-text-hero: #ffffff;
$color-title: #000000;
$color-content: #000000;
$color-text-tips: #4a4a4a;
$color-uptitle-tips: #8ccbea;




